* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 20px;
}

.list > ul {
  display: flex;
  gap: 10px;
  list-style: none;
  font-weight: 700;
  padding: 10px;
}

.list > ul > li {
  padding: 10px;
  cursor: pointer;
}

.header > .logo > img {
  width: 50px;
  height: 50px;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 400px;
  margin-top: 10px;
  background: #ffffff;
  gap: 10px;
  border-radius: 15px;
}

.cart-img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.cart > .res-detail {
  text-align: center;
  width: 200px;
}

.cart > .res-detail > p {
  /* margin: 5px; */
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
}

.cart:hover {
  box-shadow:
    0 4px 8px 0 #ccc,
    0 6px 20px 0 #ccc;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.btn_box {
  display: flex;
  padding: 5px;
  margin: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#add_cart {
  background: #333;
  color: #ffffff;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: none;
}

#add_cart:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#buy_now {
  background: #ff6f61;
  color: #ffffff;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

#buy_now:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.price_rating {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: pink;
  font-size: 19px;
}

#search_bar {
  width: 600px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid black;
  padding: 0 10px;
}

#category {
  height: 40px;
  border-radius: 7px;
  border: 1px solid black;
}

.diet_dot {
  height: 35px;
  width: 35px;
  /* background-color: rgb(255, 0, 0); */
  border-radius: 0px 12px 0px 43px;
  /* align-items: self-end; */
  /* margin-left: 100px; */
  /* display: flex; */
  /* align-content: flex-end; */
  /* justify-items: end; */
  /* justify-content: right; */
  margin-left: auto;
  /* margin-top: 5px; */
}

.topbtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.topbtn button {
  color: white;
  height: 40px;
  width: 150px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
}
.top_rated {
  background: #37f630;
}
.top_price {
  background: #ff6f61;
}

li {
  font-size: 15px;
}

.shimmer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 18%;
  height: 400px;
  background: #f0f0f0;
  border-radius: 15px;
  padding: 10px;
}

.shimmer_img {
  width: 200px;
  height: 200px;
  background: #dddddd;
  border-radius: 10px;
  margin: auto;
}

.shimmer_titt {
  width: 200px;
  height: 20px;
  background: #dddddd;
  margin: 10px auto;
  border-radius: 5px;
}

.shimmer_dec {
  width: 200px;
  height: 60px;
  background: #dddddd;
  margin: 10px auto;
  border-radius: 5px;
}

.shimmer_pic_ra,
.shimmer_cart {
  width: 200px;
  height: 30px;
  background: #dddddd;
  margin: 10px auto;
  border-radius: 5px;
}
.searchdiv{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #d5d9d4;
  gap: 35px;
  margin: 10px;
  height: 70px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
}

.serbtn{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #53c54f;
  font-weight: 500;
  font-size: 16px;
}

* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
}

.parent {
  background: #45a2d7;
  height: 50vh;
  padding: 25px 50px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.home_footer {
  /* padding: 20px; */
  width: 35%;
  /* margin: 10px; */
  /* background-color: blue; */
  /* display: flex; */
  /* align-items: center; */
  gap: 10px;
}

.pages_footer {
  width: 12%;
  /* background-color: rgb(18, 205, 58); */
  display: flex;
  flex-direction: column;
  display: "flex";
  /* justify-content: center; */
  align-items: center;
  color: #dddddd;
  gap: 20px;
}

.service_footer {
  width: 15%;
  /* background-color: rgb(218, 26, 236); */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dddddd;
  gap: 20px;
}

.map_location {
  width: 30%;
  /* background-color: rgb(30, 175, 191); */
  /* display: flex; */
  justify-content: center;
  padding-left: 10px;
}

.home_footer img {
  height: 50px;
  width: 50px;
}
.logo_row {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
  align-content: center;
  /* background: palegoldenrod; */
}

.logo_row p {
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.home_footer p {
  margin-top: 20px;
  line-height: 1.3;
  font-size: 14.5px;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.88);
}

.lodo_so {
  display: flex;
  gap: 10px;
}

.lodo_so img {
  margin-top: 20px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
}
.abc{
  align-items: center;
  justify-content: center;
  display: flex;
  align-content: center;
  background: pink;
}

.proview{
  height: 300px;
  margin: 50px;
  
}
